<%= stylesheet_link_tag 'opciones-perfil', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">

  <p>Elige una opción:</p>

  <%= link_to 'Editar perfil', edit_usuario_registration_path, class: 'button-editar' %>

  <%= link_to 'Ver estado de ordenes', joyas_compradas_path, class: 'button-ver' %>
</div>
