<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<body>
    <div class="container">
        <h1 class="titulo has-text-centered is-size-1">Inventario Arboz</h1>
      
        <div class="has-text-centered">
            <%= image_tag('diamante.png', alt: 'Diamond Image', class: 'diamond-image') %>
        </div>
      

        <% if usuario_signed_in? == false %>
            <div class="has-text-centered">
                <%= link_to 'Registrarse', new_usuario_registration_path, class: 'button is-medium' %>
            </div>
            <div class="has-text-centered">
                <%= link_to 'Iniciar Sesión', new_usuario_session_path, class: 'button is-medium' %>
            </div>
        <% else %>
        <% end %>
    </div>
</body>

