.container {
  background-color: #E6E6FA;
}

.section {
  background-color: #E6E6FA;
}

tr {
  background-color: #E6E6FA;
}

body {
  background-color: #E6E6FA;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}