.button.is-medium {
  font-weight: bold;
  font-family: 'Lato';
  background-color: #FF6B6B;
  color: #FFFFFF;
}

.diamond-image {
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
}
  
.diamond-image:hover {
  animation: pulsateEffect 1.5s ease-in-out infinite;
}
  
@keyframes pulsateEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  background-color: #E6E6FA; 
}

.container {
  min-height: 100vh;
}

.titulo.has-text-centered.is-size-1 {
  font-family: 'Lato';
  margin-top: 10px;
  font-weight: bold;
  color: #4F86F7;
}

.subtitulo.has-text-centered.is-size-3 {
  font-family: 'Lato';
  color: #4F86F7;
  margin-bottom: 10px;
  font-weight: bold;
}